html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#container{
	margin-top: 64px;
}

#input-wrap {
    height: 50px;
}

h1 {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb254), color-stop(1, #a86a00) );
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	padding:20px 0;
	text-align: center;
	width: 100%;
	position: fixed;
	top:0px;
	color: white;
	letter-spacing: 3px;
}
form {
	height: 48px;
	width:75%;
	position: fixed;
	left: 0;
	top: 66px;
}
input {
	font-family: sans-serif;
	text-transform: uppercase;
	outline-style: none;
	height: 100%;
	width: 100%;
}
button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #50b6fa), color-stop(1, #256c99) );
	color:white;
	width:25%;
	height: 48px;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 1px 6px #000000;
	position:fixed;
	right:0;
	top:66px;
}

.item-red {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a84f4f), color-stop(1, #8a0000) );
}

.item-green {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008f0a), color-stop(1, #1ac400) );
}

.item {
	font-family: sans-serif;
	font-size:32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bolder;
	color: #ffffff;
	text-align: center;
	padding:15px 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}