<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kaipeters.einkaufsliste"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Einfache Einkaufsliste</name>

    <description>
        Item mit 'Notieren' hinzufügen. Einmal klicken um von rot auf grün umzuschalten. 
    </description>

    <author href="https://wwww.kai-peters.com" email="kaipetersxanten@gmail.com">
        Kai Peters
    </author>

    <gap:plugin name="org.apache.cordova.device" />

</widget>